// theme

// $body-bg: #343a40;
$font-size-base: .875rem;
// $grid-gutter-width: 1rem;
@import "ember-bootstrap/bootstrap";

// layout

body { display: grid; grid-template-areas: "nav nav" "main aside" "footer footer";
	grid-template-columns: 1fr auto; grid-template-rows: auto 1fr auto; height: 100vh;
	nav { grid-area: nav; }
	main { grid-area: main; overflow-y: auto; }
	aside { grid-area: aside; overflow-y: auto; }
	footer { grid-area: footer; }
}

main {
	@extend .container-fluid, .py-3;
}

aside { background-color: $light;
	border-left: 1px solid $border-color;
}

footer {
	@extend .bg-dark, .text-light, .shadow-lg, .p-3;
}
